
<h1>Parks</h1>

<% @parks.each do |park| %>
  
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= park.title %></div>
  <div class="card-body">
    <h5 class="card-title"><%= park.address %></h5>
    <p class="card-text"><%= park.place_count %></p>
  </div>
</div>

<% end %>